<footer class="bg-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-left">
        <nav class="nav">
          <a class="nav-link" href="#"><i class="fab fa-twitter fa-1x"></i></a>
          <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="nav-link" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
        </nav>
      </div>
      <div class="col-md-6 col-sm-12 text-right">
        <p class="lead">Design By Jonathan Mayunga</p>
      </div>
    </div>
  </div>
</footer>
