<div class="container">

      <div class="row">
      <h2>Galeria</h2>
      <p>https://www.solutudo.com.br/pr/foz/pizzarias/bel-viale-restaurante-e-pizzaria-256961</p>


      <div style="width: 100vh;">
      <ul class="nav-gallery">
         <li class="filtr-button" data-filter="all"> All </li>
         <li class="filtr-button" data-filter="1"> Cidade </li>
         <li class="filtr-button" data-filter="2"> Indústria </li>
         <li class="filtr-button" data-filter="3"> Natureza </li>
      </ul>
      </div>
      </div>

      <!--
      <button (click)="onClick()">Suffle</button> -->

<div class="row push-down">
    
    
    <div class="filtr-container">

      <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1" data-sort="value">
         <img class="img-responsive" src="/assets/BELVIALE.jpg" alt="sample">
         <span class="item-desc">Luminous night</span>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1" data-sort="value">
         <img class="img-responsive" src="/assets/CAPITAO.jpg" alt="sample">
         <span class="item-desc">Luminous night</span>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1" data-sort="value">
         <img class="img-responsive" src="/assets/city_3.jpg" alt="sample">
        <span class="item-desc">Luminous night</span>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2" data-sort="value">
           <img class="img-responsive" src="/assets/industrial_1.jpg" alt="sample">
          <span class="item-desc">Luminous night</span>
       </div>

       <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2" data-sort="value">
           <img class="img-responsive" src="/assets/industrial_2.jpg" alt="sample">
          <span class="item-desc">Luminous night</span>
       </div>

       <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2" data-sort="value">
           <img class="img-responsive" src="/assets/industrial_3.jpg" alt="sample">
          <span class="item-desc">Luminous night</span>
       </div>

       <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="value">
           <img class="img-responsive" src="/assets/nature_1.jpg" alt="sample">
          <span class="item-desc">Luminous night</span>
       </div>

       <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="value">
           <img class="img-responsive" src="/assets/nature_2.jpg" alt="sample">
          <span class="item-desc">Luminous night</span>
       </div>

       <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="value">
           <img class="img-responsive" src="/assets/nature_3.jpg" alt="sample">
           <span class="item-desc">Luminous night</span>
       </div>

   </div>

  </div>

</div>
 
