extends layout

block links
  link(rel='stylesheet', href='/css/loggedInNavbar.css')

block content
  h1 Change Password
  .row
    .col-xs-8
      form
        .form-group
          h3 Email address
          input#email.form-control(type='email', placeholder='Email')
        .form-group
          h3 Old Password
          input#oldPassword.form-control(type='password', placeholder='Old Password')
        .form-group
          h3 New password
          input#newPassword.form-control(type='password', placeholder='New Password')
        h3#alertPasswordChanged Password successfully changed
        button.btn.btn-info.btn-lg(type='submit') Change Password

block scripts
  script(src="/js/changePassword.js")
