extends layout

block links
   link(rel='stylesheet', href='/css/index.css')

block content
  h1= title
  p Upload and view photos. Simple, elegant albums.
  
  br
  br
  div#homepageCenter
    br
    br
    a(href="/register") 
      button#getStartedBtn.btn.btn-info.btn-lg Get Started Now
    br  
    br
    h4 Forgot your login credentials? 
    a(href='/users/resetPassword') Reset password here
