extends layout

block links
  link(rel='stylesheet', href='/css/loggedInNavbar.css')

block content
  #photoWrapper
    h1 Photo Viewer
    img(src=photo.url)
    h2 #{photo.filename}
    button#delete.btn.btn-danger(data-photo = photo.id) Delete
    br
    button#makeCover.btn.btn-info(data-photo = photo.id) Make Album Cover
    
block scripts
  script(src="/js/photo.js")
