extends layout

block content
  h1 Reset Password
  .row
    .col-xs-8
      form
        .form-group
          h3 Email address
          input#email.form-control(type='email', placeholder='Email')
        h3#alertReset Check your email for password reset instructions.  
        button.btn.btn-info.btn-lg(type='submit') Reset Password

block scripts
  script(src="/js/resetPassword.js")
