<div id="services">
  <div class="container">
    <h2 class="text-center">OUR SERVICES</h2>
    <p class="text-center mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="row mt-4 text-center">
      <div class="col-md-4 col-sm-12">
        <img src="assets/img/desktop.svg" class="img-fluid">
        <h3>Flat Design</h3>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus massa vitae libero mollis, et suscipit nisl lobortis.
          Maecenas eget elit velit.
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <img src="assets/img/light.svg" class="img-fluid">
        <h3>Flat Design</h3>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus massa vitae libero mollis, et suscipit nisl lobortis.
          Maecenas eget elit velit.
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <img src="assets/img/browser.svg" class="img-fluid">
        <h3>Flat Design</h3>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus massa vitae libero mollis, et suscipit nisl lobortis.
          Maecenas eget elit velit.
        </p>
      </div>
    </div>
  </div>
</div>
