<div class="mat-elevation-z8">
  <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>

  <mat-table [style.display]="loading === false ? 'block' : 'none'" #table [dataSource]="dataSource" matSort>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <ng-container matColumnDef="key">
      <mat-header-cell *matHeaderCellDef mat-sort-header> MenuKey </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.key}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> firstName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="operations">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Operations </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-button color="primary" (click)="deleteMenu(element.key)"><mat-icon>delete</mat-icon>
      </button> <button mat-button color="primary" (click)="editMenu(element.key)"><mat-icon>edit</mat-icon></button> </mat-cell>
    </ng-container>


  </mat-table>
  <mat-paginator  #paginator [style.display]="loading === false ? 'block' : 'none'" [pageSize]="20" ></mat-paginator>
</div>

{{ _menus | json }}
