.mat-dialog-container {
    min-width: 25vw;

    .mat-dialog-title {
        font-size: 18px;
        font-weight: 400;
    }

    .mat-dialog-actions {
        padding: 0;
        margin-bottom: 0;
    }
}