/* You can add global styles to this file, and also import other style files */


/* UTILS */

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-half {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}


/*CAROUSEL*/

ngb-carousel {
  position: relative;
  display: block;
  width: 100% !important;
  height: 100vh !important;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
  display: none !important;
  z-index: 20;
}

.carousel-control-next {
  display: none !important;
  z-index: 20;
}

.carousel-indicators {
  z-index: 20;
}
