<h1 mat-dialog-title>New Payment</h1>

<mat-dialog-content>

  <form [formGroup]="newPaymentForm">

    <div class="form-group" fxLayout="row">

      <mat-form-field floatLabel="always" fxFlex>

        <input matInput name="reference" placeholder="Reference" formControlName="reference">

      </mat-form-field>

    </div>

    <div class="form-group" fxLayout="row">

      <mat-form-field floatLabel="always" fxFlex.xs="100%" fxFlex.gt-sm="50%">

          <input matInput [matDatepicker]="paymentDatepicker" [min]="minPaymentDate" [max]="maxPaymentDate" name="date" placeholder="Date *" formControlName="date">

          <mat-datepicker-toggle matSuffix [for]="paymentDatepicker"></mat-datepicker-toggle>

          <mat-datepicker #paymentDatepicker></mat-datepicker>

      </mat-form-field>

    </div>

    <div *ngIf="newPaymentForm.get('date').touched && newPaymentForm.get('date').invalid" class="form-error">You must enter a date</div>

    <div class="form-group" fxLayout="row">

      <mat-form-field floatLabel="always" fxFlex.xs="100%" fxFlex.gt-sm="50%">

        <input matInput name="amount" placeholder="Amount (£) *" formControlName="amount" appParseFloat (keyup)="validateAmount()">

      </mat-form-field>

    </div>

    <div *ngIf="newPaymentForm.get('amount').touched && newPaymentForm.get('amount').invalid" class="form-error">Invalid payment amount<span *ngIf="amountErrorMessage">: {{amountErrorMessage}}</span></div>

    <!-- Select bank in future app update -->
    <!-- <div class="form-group">

        <mat-form-field floatLabel="always" fxFlex.xs="50%" fxFlex.gt-sm="100%">

            <mat-select name="bank" placeholder="Bank Account" class="form-control" [(ngModel)]="selectedBankId" formControlName="bank" (selectionChange)="bankService.getSelectedBank(selectedBankId)">

                <mat-option *ngFor="let bank of bankService.banks | sortBy: 'id' " [value]="bank.id">{{bank.accountReference}}</mat-option>

            </mat-select>

        </mat-form-field>

      </div> -->

  </form>

</mat-dialog-content>

<br>

<mat-dialog-actions align="end">

  <button mat-button mat-dialog-close>Cancel</button>

  <button mat-raised-button (click)="addPayment()" [disabled]="!newPaymentForm.valid">Add Payment</button>

  <!-- <button mat-raised-button (click)="addPayment()" [disabled]="!newPaymentForm.valid || !bankService.selectedBank">Add Payment</button> -->

</mat-dialog-actions>