<td-layout #layout>
        <td-navigation-drawer flex [sidenavTitle]="name" logo="assets:covalent" name="Usuário" email="lyndon.tavares@datapar.com.py">
            <mat-nav-list>
                
                <a *ngFor="let item of routes" mat-list-item>
                    
                    <div routerLink="{{item.route}}" (click)="layout.close()" >
                        <mat-icon>{{item.icon}}</mat-icon>{{item.title}}
                    </div>        
                </a>
                
            </mat-nav-list>
        </td-navigation-drawer>

<router-outlet></router-outlet>

</td-layout>

<!-- 
<td-layout #layout>
    <td-navigation-drawer logo="assets:covalent" sidenavTitle="Landing Page">
      <md-nav-list>
        <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
          <a md-list-item (click)="layout.close()"><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
        </ng-template>
      </md-nav-list> -->