.works {
  position: relative;
  padding: 3.5rem 0;
  background-color: #99d2a5 !important;
  color: white;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.nav-link {
  cursor: pointer;
  text-transform: uppercase;
  color: white !important;
  padding: .375rem .75rem;
  border: 0.1rem solid #99d2a5;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  transition: all 0.5s;
}

.nav-link:hover {
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
}

.nav-link.active {
  background-color: white !important;
  color: #3d3d3d !important;
}

.nav-link.active:hover {
  border: 0.1rem solid #99d2a5;
}

.card {
  position: relative;
  display: block;
  border-radius: 0 !important;
  border: none !important;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.card:hover {
  -webkit-box-shadow: 0px 4px 14px -2px rgba(0, 0, 0, 0.12), 0px 4px 17px 7px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 4px 14px -2px rgba(0, 0, 0, 0.12), 0px 4px 17px 7px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 14px -2px rgba(0, 0, 0, 0.12), 0px 4px 17px 7px rgba(0, 0, 0, 0.08);
}

.card-img-top {
  background-size: contain;
  border-radius: 0 !important;
}

.card-footer {
  color: #3d3d3d;
  text-align: center;
  background-color: white !important;
}

.features {
  position: relative;
  padding: 3.5rem 0;
  background-color: #f1f1f1 !important;
  color: #3f3f3f;
}

.row {
  transition: all .5s;
}

.portfolio {
  position: relative;
  opacity: 1;
  transition: all .5s;
}

.hidden {
  transform: scale(0);
  max-width: 0% !important;
  opacity: 0;
  margin: 0 !important;
  padding: 0 !important;
}

.hidden .card-footer {
  max-width: 0% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.btn.link-1 {
  background-color: #99d2a5;
  font-weight: 600;
  color: white;
  padding: .75rem 1.5rem;
}

.btn.link-1:hover {
  background-color: #ffffff;
  color: #3d3d3d;
}

hr{
  margin: 0 8%;
}
