<div class="container">
    <div class="d-flex align-items-center pb-3">
        <div class="pr-3 col-2">
            <img src="{{myImage}}"class="img-fluid" alt="Responsive image" width="100">
        </div>        
        <div class="col">
            <label><h1>Time Sheet</h1></label>
        </div>        
    </div>  
    <table class='table table-striped'>
            <thead class="thead-dark">
              <tr>
                <td>Date</td>
                <td>Time-In</td>
                <td>Time-Out</td>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td>01/01/2018</td>
                <td>08:30</td>
                <td>17:30</td>
              </tr>
              <tr >
                    <td>02/01/2018</td>
                    <td>08:30</td>
                    <td>17:30</td>
                  </tr>
                  <tr >
                        <td>03/01/2018</td>
                        <td>08:30</td>
                        <td>17:30</td>
                      </tr>
            </tbody>
          </table>
</div>
